.followers {
    display: grid;
    grid-template-columns: 1fr;
}

@media only screen and (min-width: 568px) {
    .followers {
        grid-gap: 30px;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (min-width: $Tablet) {
    .followers {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (min-width: $Desktop) {
    .followers {
        grid-template-columns: repeat(4, 1fr);
    }
}