/* Layout */

$Mobile: 375px;
$Tablet: 900px;
$Desktop: 1440px;

/* Colors */

// Primary
$Lime-Green: hsl(163, 72%, 41%);
$Bright-Red: hsl(356, 69%, 56%);
$Facebook: hsl(208, 92%, 53%);
$Twitter: hsl(203, 89%, 53%);
$Instagram: linear-gradient(125deg, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
$YouTube: hsl(348, 97%, 39%);
// Toggle Dark Theme
$Toggle-DM: linear gradient hsl(210, 78%, 56%) to hsl(146, 68%, 55%);
// Toggle Light Theme
$Toggle-LM: hsl(230, 22%, 74%);
// Dark Theme
$Very-Dark-Blue: hsl(230, 17%, 14%); //(BG)
$Very-Dark-Blue: hsl(232, 19%, 15%); //(Top BG Pattern)
$Dark-Desaturated-Blue: hsl(228, 28%, 20%); //(Card BG)
$Desaturated-Blue: hsl(228, 34%, 66%); //(Text)
$White: hsl(0, 0%, 100%); //(Text)
// Light Theme
$White: hsl(0, 0%, 100%); //(BG)
$Very-Pale-Blue: hsl(225, 100%, 98%); //(Top BG Pattern)
$Light-Grayish-Blue: hsl(227, 47%, 96%); //(Card BG)
$Dark-Grayish-Blue: hsl(228, 12%, 44%); //(Text)
$Very-Dark-Blue: hsl(230, 17%, 14%); //(Text)

/* Font Size */

$Overview-Size: 14px;
$Weight-400: 400;
$Weight-700: 700;